<div
  class="min-h-screen w-full flex items-center justify-center bg:bg-gray-50 dark:bg-gray-900"
>
  <div
    class="flex flex-col items-center justify-center w-full sm:w-[80%] md:w-[20%]"
  >
    <div
      class="w-full p-6 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 lg:p-5"
    >
      <div class="flex justify-center items-center">
        <img src="assets/color-palette.png" alt="logo" class="w-16 h-16" />
      </div>
      <div
        class="text-2xl text-center font-bold text-black dark:text-white mb-2"
      >
        Welcome Back
      </div>
      <!-- form -->
      <form>
        <div class="username">
          <label
            htmlFor="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Email
          </label>
          <div class="relative mb-2">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fillRule="evenodd"
                  d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                  clipRule="evenodd"
                />
              </svg>
            </div>
            <input
              type="email"
              id="email"
              name="email"
              formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@example.com"
            />
          </div>
        </div>

        <div class="password">
          <label
            htmlFor="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Password
          </label>
          <div class="relative mb-2">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="2"
                  d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"
                />
              </svg>
            </div>
            <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Enter your password"
            />
          </div>
        </div>

        <div class="flex justify-center items-center w-full mt-4">
          <button
            type="submit"
            class="text-white bg-blue-700 w-full hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:opacity-50"
          >
            login
          </button>
        </div>
      </form>
      <div class="text-center font-medium text-gray-500 dark:text-gray-400">
        OR
      </div>
      <div class="text-black dark:text-white space-x-2 text-center">
        Alredy have an account?
        <a
          routerLink="/login"
          class="text-sm text-blue-500 hover:underline mx-1"
        >
          Sign In
        </a>
      </div>
    </div>
  </div>
</div>
